<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header></header>
    <main>
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="index.html">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="main.html">Описание профессии аналитика</a>
                </li>
                <li class="site-navigation-item">
                    <a href="demand.html">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="geography.html">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="skills.html">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="last_vacancies.html">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        <h2>Динамика уровня зарплат по годам для профессии "Аналитик"</h2>
        <p><img src="resources/mean_salary_by_years.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Динамика количества вакансий по годам для профессии "Аналитик"</h2>
        <p><img src="resources/vacancies_count_by_years.png"></p>
        <figcaption>График количества вакансий</figcaption>
    </main>
    <footer></footer>
</body>
</html>