<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    <header></header>
    <main>
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="/main">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/demand">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/geography">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/skills">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/last_vacancies">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        <section class="demand_block">
            <table border="2px">
                <tr>
                    <th>Город</th>
                    {% for city in salaries_by_cities.keys %}
                    <td>{{ city }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>Средняя зарпалата</th>
                    {% for salary in salaries_by_cities.values %}
                    <td>{{ salary }}</td>
                    {% endfor %}
                </tr>
            </table>
            <h2>Уровень зарплат по городам (в порядке убывания) по профессии "Аналитик"</h2>
            <p><img src="{% static "resources/salary_by_cities_histogram.png" %}" width="50%"></p>
            <figcaption>График уровня зарплат</figcaption>
        </section>
        <section class="demand_block">
            <table border="2px">
                <tr>
                    <th>Город</th>
                    {% for city in vacancies_by_cities.keys %}
                    <td>{{ city }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>Доля вакансий на город</th>
                    {% for percentage in vacancies_by_cities.values %}
                    <td>{{ percentage }}</td>
                    {% endfor %}
                </tr>
            </table>
            <h2>Доля вакансий по городам (в порядке убывания) по профессии "Аналитик"</h2>
            <p><img src="{% static "resources/vacancies_percentage_by_cities.png" %}" width="50%"></p>
            <figcaption>График количества вакансий</figcaption>
        </section>
    </main>
    <footer></footer>
</body>
</html>