<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    <header></header>
    <main>
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="/main">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/demand">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/geography">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/skills">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/last_vacancies">Последние вакансии</a>
                </li>
            </ul>
        </nav>
    </main>
    <footer></footer>
</body>
</html>