<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание профессии</title>
</head>
<body>
    <header></header>
    <main>
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="index.html">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="main.html">Описание профессии аналитика</a>
                </li>
                <li class="site-navigation-item">
                    <a href="demand.html">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="geography.html">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="skills.html">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="last_vacancies.html">Последние вакансии</a>
                </li>
            </ul>
        </nav>
    </main>
    <footer></footer>
</body>
</html>