<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    <header></header>
    <main>
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="/main">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/demand">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/geography">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/skills">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="/last_vacancies">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        {% for year in years %}
            <table border="2px">
                <tr>
                    <th>Навык</th>
                    {% for vacancy in year.2.keys %}
                    <td>{{ vacancy }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>Количество требуемых навыков</th>
                    {% for count in year.2.values %}
                    <td>{{ count }}</td>
                {% endfor %}
                </tr>
            </table>
            <h2>Топ-10 навыков по годам для профессии "Аналитик" за {{ year.0 }} год</h2>
            <p><img src="{% static year.1 %}" class="histogram"></p>
            <figcaption>График уровня зарплат</figcaption>
        {% endfor %}
    </main>
    <footer></footer>
</body>
</html>