<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header></header>
    <main>
        <nav class="main-nav">
            <ul class="site-navigation">
                <li class="site-navigation-item">
                    <a href="index.html">Главная</a>
                </li>
                <li class="site-navigation-item">
                    <a href="main.html">Описание профессии аналитика</a>
                </li>
                <li class="site-navigation-item">
                    <a href="demand.html">Востребованность</a>
                </li>
                <li class="site-navigation-item">
                    <a href="geography.html">География</a>
                </li>
                <li class="site-navigation-item">
                    <a href="skills.html">Навыки</a>
                </li>
                <li class="site-navigation-item">
                    <a href="last_vacancies.html">Последние вакансии</a>
                </li>
            </ul>
        </nav>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2015 год</h2>
        <p><img src="resources/top_skills_by_2015_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2016 год</h2>
        <p><img src="resources/top_skills_by_2016_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2017 год</h2>
        <p><img src="resources/top_skills_by_2017_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2018 год</h2>
        <p><img src="resources/top_skills_by_2018_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2019 год</h2>
        <p><img src="resources/top_skills_by_2019_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2020 год</h2>
        <p><img src="resources/top_skills_by_2020_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2021 год</h2>
        <p><img src="resources/top_skills_by_2021_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
        <h2>Топ-10 навыков по годам для профессии "Аналитик" за 2022 год</h2>
        <p><img src="resources/top_skills_by_2022_year.png"></p>
        <figcaption>График уровня зарплат</figcaption>
    </main>
    <footer></footer>
</body>
</html>